
@{
    ViewBag.Title = "FinalizarPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FinalizarPedido</h2>

<h2>@ViewBag.nome2</h2>
<h2>@ViewBag.lala1</h2>
<h2>@ViewBag.lala2</h2>
<h2>@ViewBag.lala3</h2>
<h2>@ViewBag.lala4</h2>


