
@{
    ViewBag.Title = "CarregarStatus";
  
}


<form class="form-inline" action="@Url.Action("AlterarStatus","Login")">

    @foreach (Projeto1.Models.ModPedido item in Model)
    {
        <div class="circle" id="btn1" value="Em analise">1</div>
        <div class="circle" id="btn2" value="Preparando">2</div>
        <div class="circle" id="btn3" value="Motoboy">3</div>
        <div class="circle" id="btn4" value="Entregue">4</div>
        <script>
            window.onload = function () {
                if(@item.status=="Em analise"){
                    document.getElementById("btn1").style.backgroundColor = "#ff0000";
                }
            }
        </script>
        


        @*<div class="row">
            <div class="form-group">
                <input type="hidden" name="codigoPedido" value="@item.codigoPedido">
                <select name="status" id="lala" class="form-control">
                    <option value="@item.status">@item.status</option>

                    <option value="Aguardando">Aguardando</option>
                    <option value="Em analise">Em analise</option>
                    <option value="Entregue">Entregue</option>
                    <option value="Motoboy">Motoboy</option>
                </select>

                <button name="xuxu" class="btn btn-primary">Buscar</button>


            </div>
        </div>*@




    }
    
    

    @*<script>
    function mudarCor(el) {
        if (el = '3')
            {
            document.getElementById("botao").style.backgroundColor = "#000";
        }
}
    </script>

    <button id="botao" onclick="mudarCor('3');">Teste</a></button>*@
</form>