
@{
    ViewBag.Title = "LogadoCli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<h2>Logado</h2>

@foreach (Projeto1.Models.ModItensPedidos item in Model)
{

    <style>
        #accordionClick {
            background-color: #d7e0ef;
            color: #000000;
            font-weight: bold;
        }
    </style>
    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
           
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#_@item.pedido.codigoPedido">
                        <div class="row">
                            <strong>
                                <div class="col-md-4">
                                    Empresa: @item.pedido.empresa.nomeApresentacao
                                </div>
                                <div class="col-md-4">
                                    @item.pedido.cliente.nomeCliente
                                </div>
                                <div class="col-md-4">
                                    @item.pedido.dataVenda
                                </div>
                                
                            </strong>
                        </div>
                    </a>
                </h4>
            </div>
            <div id="_@item.pedido.codigoPedido" class="panel-collapse collapse ">
                <div class="row">

                    <div class="panel-body">
                        @Html.Action("ListarPedidoEmpresa", "Login", new { codigoPedido = @item.pedido.codigoPedido })
                    </div>



                </div>
            </div>
        </div>

    </div>





}
